.searched-contact-parrent{
    width: 390px;
    height: 48px;
    display: flex;
    outline: none;
}

.searched-profile-img-par{
    display: inline-block;
    margin: 9px;
    vertical-align: middle
}

.searched-profile-img{
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.searched-content-par{
    display: flex;
    margin-left: 8px;
}

.searched-profile-name{
    font-weight: 600; 
    align-self: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}
